TAGS
aclocal.m4
autom4te.cache
build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/mdate-sh
build-aux/missing
build-aux/texinfo.tex
build-aux/config.rpath
config.log
config.status
configure
pre-inst-env
guile-fluidsynth-*.tar.gz
guile-fluidsynth-*.tar.gz.sig
/Makefile
doc/Makefile
test-suite/Makefile
Makefile.in
meta/guile-fluidsynth-1.0.pc
doc/version.texi
doc/stamp-vti
doc/guile-fluidsynth.t2p
doc/guile-fluidsynth.dvi
libtool
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
*~
*.aux
*.cp
*.cps
*.fn
*.fns
*.ky
*.log
*.pg
*.toc
*.tp
*.vr
*.vrs
*.html
*.info
*.pdf
*.go
